{% extends "web_base.html" %}
{% block title %} 高架通信息服务平台 {% endblock %}
{% block main %}

            <div class="masthead-bg">
                <div class="carousel-caption">
                    <center>
                        <h1>高架通信息服务平台</h1>
                        <h2>简洁、直观、强悍的交通信息服务，让您的出行便捷、省心！</h2>
                    </center>
                </div>
            </div>


    <div class="project-show-customize">
    <div class="row-fluid">

        <div class="span4">
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail">
                <a href="http://codeguide.bootcss.com" title="实时抓取交通信息" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="static/img/traffic1.png" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/stickup.png" alt="Headroom.js"></a>
                <div class="caption">
                    <h3>
                        <a href="http://codeguide.bootcss.com" title="实时抓取交通信息" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">实时抓取交通信息<br><small>by @曾质彬</small></a>
                    </h3>
                    <p>
                        实时网络爬虫抓取交通信息，包括公示公告、道路信息、出行提示等，为用户提供更贴心的出行建议。
                    </p>
                </div>
            </div>
        </div>
    </div>

      <div class="span4">
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail">
                <a href="http://codeguide.bootcss.com" title="即时获取路况信息" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="static/img/traffic2.png" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/icheck.png" alt="Headroom.js"></a>
                <div class="caption">
                    <h3>
                        <a href="http://codeguide.bootcss.com" title="即时获取路况信息" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">即时获取路况信息<br><small>by @曾质彬</small></a>
                    </h3>
                    <p>
                        利用网络爬虫，以固定时间间隔获取成都交通管理局发布的实时路况信息，为用户出行带来最便捷的体验。
                    </p>
                </div>
            </div>
        </div>
      </div>

        <div class="span4">
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail">
                <a href="http://codeguide.bootcss.com" title="直观的路面交通图片" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="static/img/traffic3.png" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/sco.js.png" alt="Headroom.js"></a>
                <div class="caption">
                    <h3>
                        <a href="http://codeguide.bootcss.com" title="直观的路面交通图片" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">直观的路面交通图片<br><small>by @曾质彬</small></a>
                    </h3>
                    <p>
                        从成都公交集团获取浮动车实时路面图片，时刻关注成都交通，带来最直观、最准确的路面交通图像。
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
